a {
  text-decoration: none;
  margin-bottom: 15px;
}

.small-btn.install {
  width: 58px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: #ccd4de;
  color: #3f4456;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.small-btn.install:hover {
  width: 58px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #4c99ff;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.small-btn.install.downing {
  width: 58px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #257cf0;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.small-btn.install.installing {
  background: url("../images/app/small-installing.gif") no-repeat;
  width: 58px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  width: 60px;
  height: 26px;
  display: block;
  text-indent: -999em;
  border: 0 none;
}

.small-btn.install.done {
  width: 58px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #ccd4de;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.small-btn.install.done:hover {
  width: 58px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #4c99ff;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.small-btn.update {
  width: 58px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: #d7e7de;
  color: #13ba61;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.small-btn.update:hover {
  width: 58px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #2bc975;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.small-btn.update.downing {
  border-color: currentColor;
  color: #13ba61;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.small-btn.update.installing {
  background: url("../images/app/small-update.gif") no-repeat;
  width: 58px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  width: 60px;
  height: 26px;
  display: block;
  text-indent: -999em;
  border: 0 none;
}

.small-btn.update.done {
  border-color: currentColor;
  color: #ccd4de;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.small-btn.update.done:hover {
  width: 58px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #2bc975;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.middle-btn.install {
  width: 68px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: #ccd4de;
  color: #3f4456;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.middle-btn.install:hover {
  width: 68px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #4c99ff;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.middle-btn.install.downing {
  width: 68px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #257cf0;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.middle-btn.install.installing {
  background: url("../images/app/m-installing.gif") no-repeat;
  width: 68px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  width: 70px;
  height: 26px;
  display: block;
  text-indent: -999em;
  border: 0 none;
}

.middle-btn.install.done {
  width: 68px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #ccd4de;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.middle-btn.install.done:hover {
  width: 68px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #4c99ff;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.middle-btn.update {
  width: 68px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: #d7e7de;
  color: #13ba61;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.middle-btn.update:hover {
  width: 68px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #2bc975;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.middle-btn.update.downing {
  width: 68px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #13ba61;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.middle-btn.update.installing {
  background: url("../images/app/m-update.gif") no-repeat;
  width: 68px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  width: 70px;
  height: 26px;
  display: block;
  text-indent: -999em;
  border: 0 none;
}

.middle-btn.update.done {
  width: 68px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #ccd4de;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.middle-btn.update.done:hover {
  width: 68px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-color: currentColor;
  color: #2bc975;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.large-btn.install {
  width: 88px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #13ba61;
  border-color: #13ba61;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.large-btn.install:hover {
  width: 88px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #13ba61;
  border-color: #13ba61;
  background-color: #2bc975;
  border-color: #2bc975;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.large-btn.install.downing {
  width: 88px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  border-color: currentColor;
  color: #257cf0;
  color: #13ba61;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.large-btn.install.downing .progress-color {
  height: 34px;
  background-color: #e6fbf0;
}

.large-btn.install.installing {
  background: url("../images/app/large-installing.gif") no-repeat;
  width: 88px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  width: 90px;
  height: 36px;
  display: block;
  text-indent: -999em;
  border: 0 none;
}

.large-btn.install.done {
  width: 88px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  border-color: currentColor;
  color: #ccd4de;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.large-btn.install.done:hover {
  width: 88px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #13ba61;
  border-color: #13ba61;
  background-color: #2bc975;
  border-color: #2bc975;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.large-btn.update {
  width: 88px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #13ba61;
  border-color: #13ba61;
  background-color: #58c400;
  border-color: #58c400;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.large-btn.update:hover {
  width: 88px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #13ba61;
  border-color: #13ba61;
  background-color: #2bc975;
  border-color: #2bc975;
  background-color: #58c400;
  border-color: #58c400;
  background-color: #6ad513;
  border-color: #6ad513;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.large-btn.update.downing {
  width: 88px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  border-color: currentColor;
  color: #13ba61;
  color: #58c400;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.large-btn.update.downing .progress-color {
  height: 34px;
  background-color: #effae6;
}

.large-btn.update.installing {
  background: url("../images/app/large-update.gif") no-repeat;
  width: 88px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  width: 90px;
  height: 36px;
  display: block;
  text-indent: -999em;
  border: 0 none;
}

.large-btn.update.done {
  width: 88px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  border-color: currentColor;
  color: #ccd4de;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.large-btn.update.done:hover {
  width: 88px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #13ba61;
  border-color: #13ba61;
  background-color: #2bc975;
  border-color: #2bc975;
  background-color: #58c400;
  border-color: #58c400;
  background-color: #6ad513;
  border-color: #6ad513;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.xlarge-btn.install {
  width: 136px;
  height: 46px;
  line-height: 46px;
  font-size: 20px;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #257cf0;
  border-color: #257cf0;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.xlarge-btn.install:hover {
  width: 136px;
  height: 46px;
  line-height: 46px;
  font-size: 20px;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #257cf0;
  border-color: #257cf0;
  background-color: #4c99ff;
  border-color: #4c99ff;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.xlarge-btn.install.downing {
  width: 136px;
  height: 46px;
  line-height: 46px;
  font-size: 20px;
  border-color: currentColor;
  color: #257cf0;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.xlarge-btn.install.downing .progress-color {
  height: 46px;
}

.xlarge-btn.install.installing {
  background: url("../images/app/xlarge-installing.gif") no-repeat;
  width: 136px;
  height: 46px;
  line-height: 46px;
  font-size: 20px;
  width: 138px;
  height: 48px;
  display: block;
  text-indent: -999em;
  border: 0 none;
}

.xlarge-btn.install.done {
  width: 136px;
  height: 46px;
  line-height: 46px;
  font-size: 20px;
  border-color: currentColor;
  color: #ccd4de;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.xlarge-btn.install.done:hover {
  width: 136px;
  height: 46px;
  line-height: 46px;
  font-size: 20px;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #257cf0;
  border-color: #257cf0;
  background-color: #4c99ff;
  border-color: #4c99ff;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.xlarge-btn.update {
  width: 136px;
  height: 46px;
  line-height: 46px;
  font-size: 20px;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #257cf0;
  border-color: #257cf0;
  background-color: #13ba61;
  border-color: #13ba61;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.xlarge-btn.update:hover {
  width: 136px;
  height: 46px;
  line-height: 46px;
  font-size: 20px;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #257cf0;
  border-color: #257cf0;
  background-color: #4c99ff;
  border-color: #4c99ff;
  background-color: #13ba61;
  border-color: #13ba61;
  background-color: #2bc975;
  border-color: #2bc975;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.xlarge-btn.update.downing {
  width: 136px;
  height: 46px;
  line-height: 46px;
  font-size: 20px;
  border-color: currentColor;
  color: #13ba61;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.xlarge-btn.update.downing .progress-color {
  height: 46px;
}

.xlarge-btn.update.installing {
  background: url("../images/app/xlarge-update.gif") no-repeat;
  width: 136px;
  height: 46px;
  line-height: 46px;
  font-size: 20px;
  width: 138px;
  height: 48px;
  display: block;
  text-indent: -999em;
  border: 0 none;
}

.xlarge-btn.update.done {
  width: 136px;
  height: 46px;
  line-height: 46px;
  font-size: 20px;
  border-color: currentColor;
  color: #ccd4de;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}
.xlarge-btn.update.done:hover {
  width: 136px;
  height: 46px;
  line-height: 46px;
  font-size: 20px;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #257cf0;
  border-color: #257cf0;
  background-color: #4c99ff;
  border-color: #4c99ff;
  background-color: #13ba61;
  border-color: #13ba61;
  background-color: #2bc975;
  border-color: #2bc975;
  display: block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0;
  position: relative;
}

.downing span {
  position: relative;
  z-index: 5;
}
.downing .progress-color {
  display: block;
  z-index: 1;
}

.progress-color {
  position: absolute;
  left: 0;
  top: 0;
  height: 24px;
  display: none;
}

.install .progress-color {
  background-color: #ddecff;
}

.update .progress-color {
  background-color: #e6fbf0;
}
