@charset "utf-8";
@import "mixin/my_reset";
@import "mixin/clearfix";

@include global-reset;

.wrap-box {
	width:1000px;
	margin:0 auto;
	height:100%;
	@include clearfix;
} 
.content {
	width: 800px;
	height:100px;
	background-color: #ccc;
}
.slider {
	width:200px;
	height:100px;
	background-color: #eee;
}
.fl {
	display: inline-block;
	float: left;
}
.fr {
	display: inline-block;
	float: right;
}




